<h1>Add Contacts</h2>

<p>Add a contact here:</p>

<form action="/contacts" method="post">

  <label for="first_name">First Name:</label>
  <input id="first_name" name="first_name" type="text">
<br>
  <label for="last_name">Last Name:</label>
  <input id="last_name" name="last_name" type="text">
<br>
  <label for="birth_month">Birth Month:</label>
  <input id="birth_month" name="birth_month" type="text">
<br>
  <button type="submit">Add Contact</button>
</form>
